html{line-height:1.15;-webkit-text-size-adjust:100%}
body{margin:0;background:#f7f7f7;color:#2d2d2d;font-family:system-ui,"Segoe UI","Helvetica Neue",Arial,"Liberation Sans","Nimbus Sans",sans-serif;font-size:1rem;font-weight:400;letter-spacing:0;padding:0}
h1{font-size:2.2em;margin:0.67em 0 0 0;font-weight:500;letter-spacing:-0.5px;color:#2d2d2d}
h2,h3,h4,h5,h6{font-size:1em;margin:0.67em 0;font-weight:bold;color:#2d2d2d;letter-spacing:-0.5px}
main{margin:2rem auto;max-width:600px;padding:2rem;text-align:center}
p{font-size:1.1em;margin:1.2em 0}
a{background-color:transparent;color:#2d2d2d;text-decoration:underline;word-break:break-word}
ul,ol{margin:1em 0;padding-left:40px}